<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>نبذة عنا</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> الرئيسية Joomla
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">ما هو Joomla؟</a></li>
				<li><a href="https://www.joomla.org/core-features.html">الفوائد &amp; والميزات</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">المشروع &amp; والقيادة</a></li>
				<li><a href="https://tm.joomla.org">العلامات التجارية والتراخيص</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>إدعمنا</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">ساهم</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">برعاية</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">الشريك</a></li>
				<li><a href="https://shop.joomla.org">متجر</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">حمل &amp; ومدد <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">التنزيلات</a></li>
				<li><a href="https://extensions.joomla.org">ملحقات</a></li>
				<li><a href="https://community.joomla.org/translations.html">اللغات</a></li>
				<li><a href="https://launch.joomla.org">احصل على موقع مجاني</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">اكتشف &amp; تعلم <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">الوثائق</a></li>
				<li><a href="https://training.joomla.org">التدريب</a></li>
				<li><a href="https://certification.joomla.org">إجازة تعليمية</a></li>
				<li><a href="https://showcase.joomla.org">عرض المواقع</a></li>
				<li><a href="https://www.joomla.org/announcements.html">إعلانات</a></li>
				<li><a href="https://community.joomla.org/blogs.html">مدونات</a></li>
				<li><a href="https://magazine.joomla.org">مجلة</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">المجتمع &amp; والدعم الفني <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">بوابة المجتمع</a></li>
				<li><a href="https://community.joomla.org/events.html">الأحداث</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">مجموعات المستخدم</a></li>
				<li><a href="https://forum.joomla.org">المنتدى</a></li>
				<li><a href="https://resources.joomla.org">دليل الموارد</a></li>
				<li><a href="https://volunteers.joomla.org">بوابة المتطوعين</a></li>
				<li><a href="https://vel.joomla.org">قائمة الملحقات المعرضة للهجوم</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">موارد المطورين <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">شبكة المطور</a></li>
				<li><a href="https://developer.joomla.org/security.html">مركز الأمان</a></li>
				<li><a href="https://issues.joomla.org">تعقب المشكلة</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">وثائق واجهة برمجة التطبيقات</a></li>
				<li><a href="https://framework.joomla.org">منصة <span dir="ltr">Joomla!</span></a></li>
				<li><a href="http://joomlacode.org">JoomlaCode</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
