<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>আমাদের সম্পর্কে</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Joomla হোম
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">Joomla কি?</a></li>
				<li><a href="https://www.joomla.org/core-features.html">বেনিফিট &amp; ফিচার</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">প্রকল্প &amp; নেতৃত্ব</a></li>
				<li><a href="https://tm.joomla.org">ট্রেডমার্ক &amp; লাইসেন্সকরণ</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>আমাদের সমর্থন করুন</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">অবদান</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">পৃষ্ঠপোষকতা/স্পোনস্রো</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">সহযোগী</a></li>
				<li><a href="https://shop.joomla.org">দোকান</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">ডাউনলোড &amp; প্রসারিত করুন <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">ডাউনলোডসমূহ</a></li>
				<li><a href="https://extensions.joomla.org">এক্সটেনশন</a></li>
				<li><a href="https://community.joomla.org/translations.html">ভাষা</a></li>
				<li><a href="https://launch.joomla.org">একটি ফ্রি সাইট পান</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">আবিষ্কার &amp; শিখুন <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">ডকুমেন্টেশন</a></li>
				<li><a href="https://training.joomla.org">প্রশিক্ষণ</a></li>
				<li><a href="https://certification.joomla.org">সার্টিফিকেট</a></li>
				<li><a href="https://showcase.joomla.org">সাইট প্রদর্শনী</a></li>
				<li><a href="https://www.joomla.org/announcements.html">ঘোষণা</a></li>
				<li><a href="https://community.joomla.org/blogs.html">ব্লগ</a></li>
				<li><a href="https://magazine.joomla.org">ম্যাগাজিন</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">কমিউনিটি &amp; সহায়তা <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">কমিউনিটি পোর্টাল</a></li>
				<li><a href="https://community.joomla.org/events.html">ইভেন্ট</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">ব্যবহারকারী গ্রুপ</a></li>
				<li><a href="https://forum.joomla.org">ফোরাম</a></li>
				<li><a href="https://resources.joomla.org">রিসোর্স ডিরেক্টরি</a></li>
				<li><a href="https://volunteers.joomla.org">ভলান্টিয়ার্স পোর্টাল</a></li>
				<li><a href="https://vel.joomla.org">অরক্ষিত এক্সটেনশন তালিকা</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">ডেভেলপার রিসোর্স <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">ডেভেলপার নেটওয়ার্ক</a></li>
				<li><a href="https://developer.joomla.org/security.html">নিরাপত্তা কেন্দ্র</a></li>
				<li><a href="https://issues.joomla.org">ইস্যু ট্র্যাকার</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">API ডকুমেন্টেশন</a></li>
				<li><a href="https://framework.joomla.org"><span dir="ltr">Joomla!</span> ফ্রেমওয়ার্ক</a></li>
				<li><a href="http://joomlacode.org">JoomlaCode</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
