<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>Sobre nosaltres</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Inici Joomla!
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">Què és Joomla?</a></li>
				<li><a href="https://www.joomla.org/core-features.html">Beneficis &amp; característiques</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">Projecte &amp; lideratge</a></li>
				<li><a href="https://tm.joomla.org">Marques &amp; Llicències</a></li>
				<li><a href="https://foundation.joomla.org">The Joomla Foundation</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>Support us</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">Contribute</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">Sponsor</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">Partner</a></li>
				<li><a href="https://shop.joomla.org">Botiga</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Descarrega &amp; amplia<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">Descàrregues</a></li>
				<li><a href="https://extensions.joomla.org">Extensions</a></li>
				<li><a href="https://community.joomla.org/translations.html">Idiomes</a></li>
				<li><a href="https://launch.joomla.org">Aconsegueix un lloc de gratuït</a></li>
				<li><a href="https://domains.joomla.org">Get a domain</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Descobrir &amp; aprendre <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">Documentació</a></li>
				<li><a href="https://training.joomla.org">Formació</a></li>
				<li><a href="https://certification.joomla.org">Certificació</a></li>
				<li><a href="https://showcase.joomla.org">Aparador de llocs</a></li>
				<li><a href="https://www.joomla.org/announcements.html">Anuncis</a></li>
				<li><a href="https://community.joomla.org/blogs.html">Blogs</a></li>
				<li><a href="https://magazine.joomla.org">Revista</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Comunitat &amp; Suport<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">Portal de la comunitat</a></li>
				<li><a href="https://community.joomla.org/events.html">Esdeveniments</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">Grups d'usuaris</a></li>
				<li><a href="https://forum.joomla.org">Fòrum</a></li>
				<li><a href="https://resources.joomla.org">Directori de recursos</a></li>
				<li><a href="https://volunteers.joomla.org">Portal de voluntaris</a></li>
				<li><a href="https://vel.joomla.org">Llista d'Extensions vulnerables</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Recursos per desenvolupadors/es <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">Xarxa de desenvolupadors/es</a></li>
				<li><a href="https://developer.joomla.org/security.html">Centre de seguretat</a></li>
				<li><a href="https://issues.joomla.org">Seguiment d'incidències</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">Documentació API</a></li>
				<li><a href="https://framework.joomla.org"><span dir="ltr">Joomla!</span> Framework</a></li>
				<li><a href="http://joomlacode.org">JoomlaCode</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
