<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>Amdanom ni</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Hafan Joomla
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">Beth ydi Joomla?</a></li>
				<li><a href="https://www.joomla.org/core-features.html">Manteision a Nodweddion</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">Prosiect ac Arweinyddiaeth</a></li>
				<li><a href="https://tm.joomla.org">Nod Masnach a Thrwyddedu</a></li>
				<li><a href="https://joomlafoundation.org">Sefydliad Joomla</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>Cefnogwch Ni</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">Cyfrannwch</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">Noddi</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">Partner</a></li>
				<li><a href="https://shop.joomla.org">Siop</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Lawrlwytho ac Ymestyn <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">Lawrlwytho</a></li>
				<li><a href="https://extensions.joomla.org">Estyniadau</a></li>
				<li><a href="https://community.joomla.org/translations.html">Ieithoedd</a></li>
				<li><a href="https://launch.joomla.org">Mynnwch wefan am ddim</a></li>
				<li><a href="https://domains.joomla.org">Mynnwch barth</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Darganfod a Dysgu <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">Dogfennaeth</a></li>
				<li><a href="https://community.joomla.org/joomla-training.html">Hyfforddiant</a></li>
				<li><a href="https://certification.joomla.org">Tystysgrifo</a></li>
				<li><a href="https://showcase.joomla.org">Arddangosfa Gwefannau</a></li>
				<li><a href="https://www.joomla.org/announcements.html">Cyhoeddiadau</a></li>
				<li><a href="https://community.joomla.org/blogs.html">Blogiau</a></li>
				<li><a href="https://magazine.joomla.org">Cylchgrawn</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Cymuned a Chefnogaeth <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">Porth y Gymuned</a></li>
				<li><a href="https://community.joomla.org/events.html">Digwyddiadau</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">Grwpiau Defnyddwyr</a></li>
				<li><a href="https://forum.joomla.org">Fforwm</a></li>
				<li><a href="https://community.joomla.org/service-providers-directory.html">Cyfeiriadur Darparwyr Gwasanaeth</a></li>
				<li><a href="https://volunteers.joomla.org">Porth Gwirfoddolwyr</a></li>
				<li><a href="https://extensions.joomla.org/vulnerable-extensions/vulnerable/">Rhestr Estyniadau Bregus</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Adnoddau Datblygwyr <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">Rhwydwaith Datblygwyr</a></li>
				<li><a href="https://developer.joomla.org/security.html">Canolfan Ddiogelwch</a></li>
				<li><a href="https://issues.joomla.org">Traciwr Problemau</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">Dogfennaeth API</a></li>
				<li><a href="https://framework.joomla.org">Fframwaith <span dir="ltr">Joomla!</span></a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
