<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>Σχετικά</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Joomla Αρχική
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">Τι είναι το Joomla;</a></li>
				<li><a href="https://www.joomla.org/core-features.html">Πλεονεκτήματα &amp; Χαρακτηριστικά</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">Εργο &amp; Διαχείριση Έργου</a></li>
				<li><a href="https://tm.joomla.org">Εμπορικό σήμα &amp; Αδειοδότηση</a></li>
				<li><a href="https://joomlafoundation.org">Το Ίδρυμα Joomla</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>Υποστηρίξτε μας</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">Συνεισφορά</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">Χορηγός</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">Συνεργάτης</a></li>
				<li><a href="https://shop.joomla.org">Κατάστημα</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Λήψεις &amp; Επεκτάσεις <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">Λήψεις</a></li>
				<li><a href="https://extensions.joomla.org">Επεκτάσεις</a></li>
				<li><a href="https://community.joomla.org/translations.html">Γλώσσες</a></li>
				<li><a href="https://launch.joomla.org">Αποκτήστε έναν δωρεάν ιστότοπο</a></li>
				<li><a href="https://domains.joomla.org">Αποκτήστε ένα όνομα χώρου</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Εύρεση &amp; Μάθηση <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">Τεκμηρίωση</a></li>
				<li><a href="https://community.joomla.org/joomla-training.html">Εκπαίδευση</a></li>
				<li><a href="https://certification.joomla.org">Πιστοποίηση</a></li>
				<li><a href="https://showcase.joomla.org">Παρουσίαση Ιστοτόπων</a></li>
				<li><a href="https://www.joomla.org/announcements.html">Ανακοινώσεις</a></li>
				<li><a href="https://community.joomla.org/blogs.html">Ιστολόγια</a></li>
				<li><a href="https://magazine.joomla.org">Περιοδικό</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Κοινότητα &amp; Υποστήριξη <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">Πύλη Κοινότητας</a></li>
				<li><a href="https://community.joomla.org/events.html">Εκδηλώσεις</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">Ομάδες Χρηστών</a></li>
				<li><a href="https://forum.joomla.org">Κοινότητα</a></li>
				<li><a href="https://community.joomla.org/service-providers-directory.html">Κατάλογος παρόχων υπηρεσιών</a></li>
				<li><a href="https://volunteers.joomla.org">Πύλη Εθελοντών</a></li>
				<li><a href="https://extensions.joomla.org/vulnerable-extensions/vulnerable/">Λίστα ευάλωτων επεκτάσεων</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Πόροι προγραμματιστών <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">Δίκτυο Προγραμματιστών</a></li>
				<li><a href="https://developer.joomla.org/security.html">Κέντρο Ασφαλείας</a></li>
				<li><a href="https://issues.joomla.org">Παρακολούθηση προβλημάτων</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">Τεκμηρίωση API</a></li>
				<li><a href="https://framework.joomla.org"><span dir="ltr">Joomla!</span> Framework</a></li>
				<li><a href="http://joomlacode.org">JoomlaCode</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
