<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>Acerca de</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Joomla! Página de inicio
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">¿Qué es Joomla?</a></li>
				<li><a href="https://www.joomla.org/core-features.html">Beneficios &amp; Características</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">Proyecto &amp; Liderazgo</a></li>
				<li><a href="https://tm.joomla.org">Marca &amp; Licencia</a></li>
				<li><a href="https://foundation.joomla.org">The Joomla Foundation</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>Colabora</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">Contribuir</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">Patrocinador</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">Programa de socios</a></li>
				<li><a href="https://shop.joomla.org">Tienda</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Descarga &amp; Extiende <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">Descargas</a></li>
				<li><a href="https://extensions.joomla.org">Extensiones</a></li>
				<li><a href="https://community.joomla.org/translations.html">Idiomas</a></li>
				<li><a href="https://launch.joomla.org">Obtén un sitio gratis</a></li>
				<li><a href="https://domains.joomla.org">Obtén un dominio</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Descubre &amp; Aprende <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">Documentación</a></li>
				<li><a href="https://training.joomla.org">Formación</a></li>
				<li><a href="https://certification.joomla.org">Certificación</a></li>
				<li><a href="https://showcase.joomla.org">Exposición de sitios</a></li>
				<li><a href="https://www.joomla.org/announcements.html">Anuncios</a></li>
				<li><a href="https://community.joomla.org/blogs.html">Blogs</a></li>
				<li><a href="https://magazine.joomla.org">Magazine</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Comunidad &amp; Asistencia <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">Portal Comunidad</a></li>
				<li><a href="https://community.joomla.org/events.html">Eventos</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">Grupos de Usuarios</a></li>
				<li><a href="https://forum.joomla.org">Foro</a></li>
				<li><a href="https://resources.joomla.org">Directorio de Recursos</a></li>
				<li><a href="https://volunteers.joomla.org">Portal Voluntarios</a></li>
				<li><a href="https://vel.joomla.org">Extensiones vulnerables</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Recursos para desarrolladores <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">Red Desarrolladores</a></li>
				<li><a href="https://developer.joomla.org/security.html">Centro de seguridad</a></li>
				<li><a href="https://issues.joomla.org">Gestor de incidencias</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">Documentación API</a></li>
				<li><a href="https://framework.joomla.org">Framework de <span dir="ltr">Joomla!</span></a></li>
				<li><a href="http://joomlacode.org">JoomlaCode</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
