<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>Meist</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Joomla! Kodu
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">Mis on Joomla?</a></li>
				<li><a href="https://www.joomla.org/core-features.html">Lisaväärtused ja funktsioonid</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">Projekt ja juhtimine</a></li>
				<li><a href="https://tm.joomla.org">Kaubamärk ja litsents</a></li>
				<li><a href="https://foundation.joomla.org">Joomla sihtasutus</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>Toeta meid</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">Panusta</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">Sponsor</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">Partner</a></li>
				<li><a href="https://shop.joomla.org">Pood</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Laadi alla ja laienda <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">Allalaadimised</a></li>
				<li><a href="https://extensions.joomla.org">Lisaprogrammid</a></li>
				<li><a href="https://community.joomla.org/translations.html">Keeled</a></li>
				<li><a href="https://launch.joomla.org">Hangi tasuta sait</a></li>
				<li><a href="https://domains.joomla.org">Võta domeen</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Avasta ja õpi <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">Dokumentatsioon</a></li>
				<li><a href="https://training.joomla.org">Väljaõpe</a></li>
				<li><a href="https://certification.joomla.org">Sertifitseerimine</a></li>
				<li><a href="https://showcase.joomla.org">Näidissaidid</a></li>
				<li><a href="https://www.joomla.org/announcements.html">Teadaanded</a></li>
				<li><a href="https://community.joomla.org/blogs.html">Blogid</a></li>
				<li><a href="https://magazine.joomla.org">Ajakiri</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Kogukond ja kasutajatugi <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">Kogukonna portaal</a></li>
				<li><a href="https://community.joomla.org/events.html">Üritused</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">Kasutajategrupid</a></li>
				<li><a href="https://forum.joomla.org">Foorum</a></li>
				<li><a href="https://resources.joomla.org">Ressursside kataloog</a></li>
				<li><a href="https://volunteers.joomla.org">Vabatahtlike portaal</a></li>
				<li><a href="https://vel.joomla.org">Haavatavate lisaprogrammide nimekiri</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Ressursid arendajatele <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">Arendajate võrgustik</a></li>
				<li><a href="https://developer.joomla.org/security.html">Turvakeskus</a></li>
				<li><a href="https://issues.joomla.org">Probleemi jälgija</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">API Dokumentatsioon</a></li>
				<li><a href="https://framework.joomla.org"><span dir="ltr">Joomla!</span> raamistik</a></li>
				<li><a href="http://joomlacode.org">JoomlaCode</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
