<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> جوملا!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>About us</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Joomla Home
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">What is Joomla?</a></li>
				<li><a href="https://www.joomla.org/core-features.html">Benefits &amp; Features</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">Project &amp; Leadership</a></li>
				<li><a href="https://tm.joomla.org">نشان تجاری و پروانه انتشار</a></li>
				<li><a href="https://foundation.joomla.org">The Joomla Foundation</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>Support us</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">مشارکت
</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">Sponsor</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">Partner</a></li>
				<li><a href="https://shop.joomla.org">فروشگاه</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Download &amp; Extend <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">Downloads</a></li>
				<li><a href="https://extensions.joomla.org">افزونه‌ها</a></li>
				<li><a href="https://community.joomla.org/translations.html">Languages</a></li>
				<li><a href="https://launch.joomla.org">Get a free site</a></li>
				<li><a href="https://domains.joomla.org">Get a domain</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Discover &amp; Learn <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">مستندات</a></li>
				<li><a href="https://training.joomla.org">Training</a></li>
				<li><a href="https://certification.joomla.org">Certification</a></li>
				<li><a href="https://showcase.joomla.org">Site Showcase</a></li>
				<li><a href="https://www.joomla.org/announcements.html">اطلاعیه‌ها</a></li>
				<li><a href="https://community.joomla.org/blogs.html">وبلاگ‌ها</a></li>
				<li><a href="https://magazine.joomla.org">مجله</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Community &amp; Support <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">پرتال جامعه کاربران</a></li>
				<li><a href="https://community.joomla.org/events.html">Events</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">گروه‌های کاربری</a></li>
				<li><a href="https://forum.joomla.org">انجمن</a></li>
				<li><a href="https://resources.joomla.org">فهرست منابع</a></li>
				<li><a href="https://volunteers.joomla.org">پرتال داوطلبان</a></li>
				<li><a href="https://vel.joomla.org">Vulnerable Extensions List</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Developer Resources <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">شبکه توسعه‌دهندگان</a></li>
				<li><a href="https://developer.joomla.org/security.html">مرکز امنیتی</a></li>
				<li><a href="https://issues.joomla.org">گزارش مشکل</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">مستندات رابط برنامه‌نویسی نرم‌افزار</a></li>
				<li><a href="https://framework.joomla.org"><span dir="ltr">Joomla!</span> Framework</a></li>
				<li><a href="http://joomlacode.org">کدهای جوملا</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
