<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>Tietoa meistä</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Joomla etusivu
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">Mikä on Joomla?</a></li>
				<li><a href="https://www.joomla.org/core-features.html">Edut &amp; ominaisuudet</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">Projekti &amp; johto</a></li>
				<li><a href="https://tm.joomla.org">Tavaramerkki &amp; lisenssi</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>Tue meitä</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">Osallistu</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">Sponsori</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">Yhteistyökumppanit</a></li>
				<li><a href="https://shop.joomla.org">Kauppa</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Lataa &amp; Laajenna <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">Lataukset</a></li>
				<li><a href="https://extensions.joomla.org">Laajennukset</a></li>
				<li><a href="https://community.joomla.org/translations.html">Kielet</a></li>
				<li><a href="https://launch.joomla.org">Hanki ilmainen sivusto</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Löydä &amp; opi <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">Dokumentaatio</a></li>
				<li><a href="https://training.joomla.org">Koulutus</a></li>
				<li><a href="https://certification.joomla.org">Sertifiointi</a></li>
				<li><a href="https://showcase.joomla.org">Sivustoesittely</a></li>
				<li><a href="https://www.joomla.org/announcements.html">Ilmoitukset</a></li>
				<li><a href="https://community.joomla.org/blogs.html">Blogit</a></li>
				<li><a href="https://magazine.joomla.org">Julkaisu</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Yhteisö &amp; tuki <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">Yhteisöportaali</a></li>
				<li><a href="https://community.joomla.org/events.html">Tapahtumat</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">Käyttäjäryhmät</a></li>
				<li><a href="https://forum.joomla.org">Foorumi</a></li>
				<li><a href="https://resources.joomla.org">Resurssihakemisto</a></li>
				<li><a href="https://volunteers.joomla.org">Vapaaehtoisten portaali</a></li>
				<li><a href="https://vel.joomla.org">Haavoittuvien lisäosien listaus</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Kehittäjän resurssit <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">Kehittäjäverkosto</a></li>
				<li><a href="https://developer.joomla.org/security.html">Tietoturvakeskus</a></li>
				<li><a href="https://issues.joomla.org">Ongelmanseuranta (Issue Tracker)</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">API-dokumentaatio</a></li>
				<li><a href="https://framework.joomla.org"><span dir="ltr">Joomla!</span> -kehysympäristö</a></li>
				<li><a href="http://joomlacode.org">JoomlaCode</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
