<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>À propos</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Accueil Joomla
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">Qu'est-ce que Joomla ?</a></li>
				<li><a href="https://www.joomla.org/core-features.html">Avantages &amp; fonctionnalités</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">Projet &amp; Direction</a></li>
				<li><a href="https://tm.joomla.org">Trademark et licence</a></li>
				<li><a href="https://joomlafoundation.org">Fondation Joomla</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>Nous soutenir</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">Contribuer</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">Parrainer</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">Devenir partenaire</a></li>
				<li><a href="https://shop.joomla.org">La boutique</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Télécharger &amp; enrichir <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">Téléchargements</a></li>
				<li><a href="https://extensions.joomla.org">Extensions</a></li>
				<li><a href="https://community.joomla.org/translations.html">Langues</a></li>
				<li><a href="https://launch.joomla.org">Lancer un site gratuit</a></li>
				<li><a href="https://domains.joomla.org">Réserver un domaine</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Découvrir &amp; apprendre <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">Documentation</a></li>
				<li><a href="https://community.joomla.org/joomla-training.html">Formation</a></li>
				<li><a href="https://certification.joomla.org">Certification</a></li>
				<li><a href="https://showcase.joomla.org">Répertoire vitrine</a></li>
				<li><a href="https://www.joomla.org/announcements.html">Annonces</a></li>
				<li><a href="https://community.joomla.org/blogs.html">Blogs</a></li>
				<li><a href="https://magazine.joomla.org">Magazine</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Communauté &amp; support <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">Portail de la communauté</a></li>
				<li><a href="https://community.joomla.org/events.html">Événements</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">Groupes d'utilisateurs</a></li>
				<li><a href="https://forum.joomla.org">Forum</a></li>
				<li><a href="https://community.joomla.org/service-providers-directory.html">Service Providers Directory</a></li>
				<li><a href="https://volunteers.joomla.org">Portail des volontaires</a></li>
				<li><a href="https://extensions.joomla.org/vulnerable-extensions/vulnerable/">Liste des extensions vulnérables</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Ressources développeurs <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">Réseau des développeurs</a></li>
				<li><a href="https://developer.joomla.org/security.html">Centre de sécurité</a></li>
				<li><a href="https://issues.joomla.org">Traqueur d'anomalies</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">Documentation de l’API</a></li>
				<li><a href="https://framework.joomla.org">Framework <span dir="ltr">Joomla!</span></a></li>
				<li><a href="http://joomlacode.org">JoomlaCode</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
