<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>हमारे बारे में</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Joomla होम
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">Joomla क्या है?</a></li>
				<li><a href="https://www.joomla.org/core-features.html">लाभ और विशेषताएं</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">परियोजना और नेतृत्व</a></li>
				<li><a href="https://tm.joomla.org">ट्रेडमार्क और लाइसेंसिंग</a></li>
				<li><a href="https://foundation.joomla.org">The Joomla Foundation</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>हमें सहयोग दीजिये</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">योगदान</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">प्रायोजक</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">साथी</a></li>
				<li><a href="https://shop.joomla.org">दुकान</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">डाउनलोड करें और बढ़ाएं <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">डाउनलोड</a></li>
				<li><a href="https://extensions.joomla.org">एक्सटेंशन</a></li>
				<li><a href="https://community.joomla.org/translations.html">भाषा</a></li>
				<li><a href="https://launch.joomla.org">एक मुफ्त साइट प्राप्त करें</a></li>
				<li><a href="https://domains.joomla.org">Get a domain</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">खोजें और जानें <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">प्रलेखन</a></li>
				<li><a href="https://training.joomla.org">प्रशिक्षण</a></li>
				<li><a href="https://certification.joomla.org">प्रमाणीकरण</a></li>
				<li><a href="https://showcase.joomla.org">साइट शोकेस</a></li>
				<li><a href="https://www.joomla.org/announcements.html">घोषणाएँ</a></li>
				<li><a href="https://community.joomla.org/blogs.html">ब्लॉग</a></li>
				<li><a href="https://magazine.joomla.org">पत्रिका</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">सामुदायिक समर्थन <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">सामुदायिक पोर्टल</a></li>
				<li><a href="https://community.joomla.org/events.html">आयोजन</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">यूसर समूह</a></li>
				<li><a href="https://forum.joomla.org">मंच</a></li>
				<li><a href="https://resources.joomla.org">संसाधन निर्देशिका</a></li>
				<li><a href="https://volunteers.joomla.org">स्वयंसेवक पोर्टल</a></li>
				<li><a href="https://vel.joomla.org">कमजोर एक्सटेंशन सूची</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">डेवलपर संसाधन <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">डेवलपर नेटवर्क</a></li>
				<li><a href="https://developer.joomla.org/security.html">सुरक्षा केंद्र</a></li>
				<li><a href="https://issues.joomla.org">मुद्दा पर नज़र रखने वाला</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">API दस्तावेज़ीकरण</a></li>
				<li><a href="https://framework.joomla.org"><span dir="ltr">Joomla!</span> ढांचा</a></li>
				<li><a href="http://joomlacode.org">JoomlaCode</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
