<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>Su di noi</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Joomla Home
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">Che cos’è Joomla?</a></li>
				<li><a href="https://www.joomla.org/core-features.html">Benefici &amp; Caratteristiche</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">Progetto &amp; Leadership</a></li>
				<li><a href="https://tm.joomla.org">Marchi &amp; Licenze</a></li>
				<li><a href="https://joomlafoundation.org">La Fondazione Joomla</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>Supportaci</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">Contribuisci</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">Sponsor</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">Partner</a></li>
				<li><a href="https://shop.joomla.org">Negozio</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Scarica &amp; Estendi <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">Download</a></li>
				<li><a href="https://extensions.joomla.org">Estensioni</a></li>
				<li><a href="https://community.joomla.org/translations.html">Lingue</a></li>
				<li><a href="https://launch.joomla.org">Ottieni un sito gratuito</a></li>
				<li><a href="https://domains.joomla.org">Aggiungi un dominio</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Scopri &amp; Impara <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">Documentazione</a></li>
				<li><a href="https://community.joomla.org/joomla-training.html">Formazione</a></li>
				<li><a href="https://certification.joomla.org">Certificazione</a></li>
				<li><a href="https://showcase.joomla.org">Siti in vetrina</a></li>
				<li><a href="https://www.joomla.org/announcements.html">Annunci</a></li>
				<li><a href="https://community.joomla.org/blogs.html">Blog</a></li>
				<li><a href="https://magazine.joomla.org">Magazine</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Comunità &amp; Supporto <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">Portale Comunità</a></li>
				<li><a href="https://community.joomla.org/events.html">Eventi</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">Gruppi utenti</a></li>
				<li><a href="https://forum.joomla.org">Forum</a></li>
				<li><a href="https://community.joomla.org/service-providers-directory.html">Fornitori di Servizi</a></li>
				<li><a href="https://volunteers.joomla.org">Portale dei Volontari</a></li>
				<li><a href="https://extensions.joomla.org/vulnerable-extensions/vulnerable/">Lista Estensioni Vulnerabili</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Risorse per Sviluppatori <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">Network Sviluppatori</a></li>
				<li><a href="https://developer.joomla.org/security.html">Centro Sicurezza</a></li>
				<li><a href="https://issues.joomla.org">Issue Tracker</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">Documentazione API</a></li>
				<li><a href="https://framework.joomla.org"><span dir="ltr">Joomla!</span> Framework</a></li>
				<li><a href="http://joomlacode.org">JoomlaCode</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
