<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>私たちについて</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Joomla ホーム
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">Joomla とは？</a></li>
				<li><a href="https://www.joomla.org/core-features.html">便利な機能</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">プロジェクトとリーダーシップ</a></li>
				<li><a href="https://tm.joomla.org">商標とライセンス</a></li>
				<li><a href="https://foundation.joomla.org">The Joomla Foundation</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>私たちを応援してください</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">貢献する</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">スポンサー</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">パートナー</a></li>
				<li><a href="https://shop.joomla.org">ショップ</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">ダウンロードと機能拡張<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">ダウンロード</a></li>
				<li><a href="https://extensions.joomla.org">エクステンション</a></li>
				<li><a href="https://community.joomla.org/translations.html">言語</a></li>
				<li><a href="https://launch.joomla.org">無料のサイトを入手する</a></li>
				<li><a href="https://domains.joomla.org">Get a domain</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">発見と学び<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">ドキュメント</a></li>
				<li><a href="https://training.joomla.org">トレーニング</a></li>
				<li><a href="https://certification.joomla.org">認証</a></li>
				<li><a href="https://showcase.joomla.org">サイトショーケース</a></li>
				<li><a href="https://www.joomla.org/announcements.html">お知らせ</a></li>
				<li><a href="https://community.joomla.org/blogs.html">ブログ</a></li>
				<li><a href="https://magazine.joomla.org">マガジン</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">コミュニティとサポート <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">コミュニティポータル</a></li>
				<li><a href="https://community.joomla.org/events.html">イベント</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">ユーザグループ</a></li>
				<li><a href="https://forum.joomla.org">フォーラム</a></li>
				<li><a href="https://resources.joomla.org">リソース ディレクトリ</a></li>
				<li><a href="https://volunteers.joomla.org">ボランティア ポータル</a></li>
				<li><a href="https://vel.joomla.org">脆弱な拡張機能一覧</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">開発者向けリソース <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">開発者向けネットワーク</a></li>
				<li><a href="https://developer.joomla.org/security.html">セキュリティセンター</a></li>
				<li><a href="https://issues.joomla.org">課題トラッカー</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">API ドキュメント</a></li>
				<li><a href="https://framework.joomla.org"><span dir="ltr">Joomla!</span> フレームワーク</a></li>
				<li><a href="http://joomlacode.org">JoomlaCode</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
