<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>Par mums</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Joomla! Sākums
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">Kas ir Joomla?</a></li>
				<li><a href="https://www.joomla.org/core-features.html">Ieguvumi un iespējas</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">Projekts un vadība</a></li>
				<li><a href="https://tm.joomla.org">Zīmols &amp; Licencēšana</a></li>
				<li><a href="https://joomlafoundation.org">The Joomla Foundation</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>Atbalstīt</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">Atbalstīt</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">Sponsor</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">Partneris</a></li>
				<li><a href="https://shop.joomla.org">Veikals</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Lejupielādēt un paplašināt <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">Lejupielādes</a></li>
				<li><a href="https://extensions.joomla.org">Paplašinājumi</a></li>
				<li><a href="https://community.joomla.org/translations.html">Valodas</a></li>
				<li><a href="https://launch.joomla.org">Bezmaksas lapa</a></li>
				<li><a href="https://domains.joomla.org">Iegūsti domēnu</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Atklāj un iemācies <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">Dokumentācija</a></li>
				<li><a href="https://community.joomla.org/joomla-training.html">Apmācība</a></li>
				<li><a href="https://certification.joomla.org">Sertifikācija</a></li>
				<li><a href="https://showcase.joomla.org">Izstrādātās mājaslapas</a></li>
				<li><a href="https://www.joomla.org/announcements.html">Paziņojumi</a></li>
				<li><a href="https://community.joomla.org/blogs.html">Blogi</a></li>
				<li><a href="https://magazine.joomla.org">Žurnāls</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Kopiena un atbalsts <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">Kopienas Portāls</a></li>
				<li><a href="https://community.joomla.org/events.html">Pasākumi</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">Lietotāju grupas</a></li>
				<li><a href="https://forum.joomla.org">Forums</a></li>
				<li><a href="https://community.joomla.org/service-providers-directory.html">Service Providers Directory</a></li>
				<li><a href="https://volunteers.joomla.org">Brīvprātīgo Portāls</a></li>
				<li><a href="https://extensions.joomla.org/vulnerable-extensions/vulnerable/">Paplašinājumi ar ievainojamībām</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Izstrādātāju resursi <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">Izstrādātāju tīkls</a></li>
				<li><a href="https://developer.joomla.org/security.html">Drošības centrs</a></li>
				<li><a href="https://issues.joomla.org">Problēmu trekeris</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">API Dokumentācija</a></li>
				<li><a href="https://framework.joomla.org"><span dir="ltr">Joomla!</span> Framework</a></li>
				<li><a href="http://joomlacode.org">JoomlaCode</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
