<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>Sobre nós</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Página inicial do Joomla!
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">O que é o Joomla?</a></li>
				<li><a href="https://www.joomla.org/core-features.html">Benefícios &amp; Características</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">Projecto &amp; Liderança</a></li>
				<li><a href="https://tm.joomla.org">Marca &amp; Licenciamento</a></li>
				<li><a href="https://foundation.joomla.org">The Joomla Foundation</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>Apoie-nos</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">Colabore</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">Patrocinador</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">Parceiro</a></li>
				<li><a href="https://shop.joomla.org">Loja</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Descarregar &amp; Estender <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">Transferências</a></li>
				<li><a href="https://extensions.joomla.org">Extensões</a></li>
				<li><a href="https://community.joomla.org/translations.html">Linguagens</a></li>
				<li><a href="https://launch.joomla.org">Obtenha um site grátis</a></li>
				<li><a href="https://domains.joomla.org">Obter um domínio</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Descubra &amp; Aprenda <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">Documentação</a></li>
				<li><a href="https://training.joomla.org">Treino</a></li>
				<li><a href="https://certification.joomla.org">Certificação</a></li>
				<li><a href="https://showcase.joomla.org">Mostruário de sítios Web</a></li>
				<li><a href="https://www.joomla.org/announcements.html">Anúncios</a></li>
				<li><a href="https://community.joomla.org/blogs.html">Blogues</a></li>
				<li><a href="https://magazine.joomla.org">Revista</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Comunidade &amp; Suporte <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">Portal da comunidade</a></li>
				<li><a href="https://community.joomla.org/events.html">Eventos</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">Grupos de utilizadores</a></li>
				<li><a href="https://forum.joomla.org">Fórum</a></li>
				<li><a href="https://resources.joomla.org">Diretório de recursos</a></li>
				<li><a href="https://volunteers.joomla.org">Portal de voluntários</a></li>
				<li><a href="https://vel.joomla.org">Lista de Extensões Vulneráveis</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Recursos para programadores <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">Rede de programadores</a></li>
				<li><a href="https://developer.joomla.org/security.html">Centro de segurança</a></li>
				<li><a href="https://issues.joomla.org">Rastreador de problemas</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">Documentação da API</a></li>
				<li><a href="https://framework.joomla.org"><span dir="ltr">Joomla!</span> Framework</a></li>
				<li><a href="http://joomlacode.org">JoomlaCode</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
