<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>О нама</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Joomla почетна
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">Шта је Joomla?</a></li>
				<li><a href="https://www.joomla.org/core-features.html">Предности и могућности</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">Тим који води пројекат</a></li>
				<li><a href="https://tm.joomla.org">Заштитни знак и лиценциранје</a></li>
				<li><a href="https://foundation.joomla.org">The Joomla Foundation</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>Подржите нас</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">Допринесите</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">Спонзори</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">Партнери</a></li>
				<li><a href="https://shop.joomla.org">Продавница</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Преузимање и проширења (екстензије) <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">Преузимање</a></li>
				<li><a href="https://extensions.joomla.org">Екстензије (додаци)</a></li>
				<li><a href="https://community.joomla.org/translations.html">Језици</a></li>
				<li><a href="https://launch.joomla.org">Преузмите бесплатан сајт</a></li>
				<li><a href="https://domains.joomla.org">Набавите домен</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Откријте и научите <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">Документација</a></li>
				<li><a href="https://training.joomla.org">Тренинг</a></li>
				<li><a href="https://certification.joomla.org">Сертификати</a></li>
				<li><a href="https://showcase.joomla.org">Студије случаја</a></li>
				<li><a href="https://www.joomla.org/announcements.html">Најаве</a></li>
				<li><a href="https://community.joomla.org/blogs.html">Блогови</a></li>
				<li><a href="https://magazine.joomla.org">Магазин</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Заједница и подршка <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">Портал заједнице</a></li>
				<li><a href="https://community.joomla.org/events.html">Догађаји</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">Групе корисника</a></li>
				<li><a href="https://forum.joomla.org">Форум</a></li>
				<li><a href="https://resources.joomla.org">Директоријум са ресурсима</a></li>
				<li><a href="https://volunteers.joomla.org">Портал волонтера</a></li>
				<li><a href="https://vel.joomla.org">Листа проблематичних екстензија</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Ресурси за развој <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">Мрежа програмера</a></li>
				<li><a href="https://developer.joomla.org/security.html">Центар за сигурност</a></li>
				<li><a href="https://issues.joomla.org">Праћенје проблема</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">API документација</a></li>
				<li><a href="https://framework.joomla.org"><span dir="ltr">Joomla!</span> Framework</a></li>
				<li><a href="http://joomlacode.org">JoomlaCode</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
