<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>Om oss</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Joomla! Start
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">Vad är Joomla?</a></li>
				<li><a href="https://www.joomla.org/core-features.html">Fördelar &amp; Funktioner</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">Projekt &amp; Ledning</a></li>
				<li><a href="https://tm.joomla.org">Varumärke &amp; Licensiering</a></li>
				<li><a href="https://joomlafoundation.org">Joomla Foundation</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>Stöd oss</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">Bidra</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">Sponsor</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">Partner</a></li>
				<li><a href="https://shop.joomla.org">Butik</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Ladda Ner &amp; Utöka <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">Nedladdningar</a></li>
				<li><a href="https://extensions.joomla.org">Tillägg</a></li>
				<li><a href="https://community.joomla.org/translations.html">Språk</a></li>
				<li><a href="https://launch.joomla.org">Få en gratis webbplats</a></li>
				<li><a href="https://domains.joomla.org">Skaffa en domän</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Upptäck &amp; Lär <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">Dokumentation</a></li>
				<li><a href="https://community.joomla.org/joomla-training.html">Utbildning</a></li>
				<li><a href="https://certification.joomla.org">Certifiering</a></li>
				<li><a href="https://showcase.joomla.org">Webbplatsexempel</a></li>
				<li><a href="https://www.joomla.org/announcements.html">Meddelanden</a></li>
				<li><a href="https://community.joomla.org/blogs.html">Bloggar</a></li>
				<li><a href="https://magazine.joomla.org">Magasin</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Gemenskap &amp; Support <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">Community-portal</a></li>
				<li><a href="https://community.joomla.org/events.html">Evenemang</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">Användargrupper</a></li>
				<li><a href="https://forum.joomla.org">Forum</a></li>
				<li><a href="https://community.joomla.org/service-providers-directory.html">Katalog för tjänsteleverantörer</a></li>
				<li><a href="https://volunteers.joomla.org">Volontär-portal</a></li>
				<li><a href="https://extensions.joomla.org/vulnerable-extensions/vulnerable/">Lista med Sårbara tillägg</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Resurser för utvecklare <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">Utvecklarnätverk</a></li>
				<li><a href="https://developer.joomla.org/security.html">Säkerhetscenter</a></li>
				<li><a href="https://issues.joomla.org">Problemspårning</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">API Dokumentation</a></li>
				<li><a href="https://framework.joomla.org"><span dir="ltr">Joomla!</span> Ramverk</a></li>
				<li><a href="http://joomlacode.org">JoomlaCode</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
