<div class="nav-collapse collapse">
	<ul id="nav-joomla" class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span dir="ltr"><span aria-hidden="true" class="icon-joomla"></span> Joomla!<sup>&reg;</sup></span> <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header"><span>关于我们</span></li>
				<li>
					<a href="https://www.joomla.org">
						<span aria-hidden="true" class="icon-joomla"></span> Joomla! 首页
					</a>
				</li>
				<li><a href="https://www.joomla.org/about-joomla.html">Joomla 是什么？</a></li>
				<li><a href="https://www.joomla.org/core-features.html">优点 &amp; 功能</a></li>
				<li><a href="https://www.joomla.org/about-joomla/the-project.html">项目 &amp; 领导团队</a></li>
				<li><a href="https://tm.joomla.org">商标 &amp; 许可</a></li>
				<li><a href="https://joomlafoundation.org">Joomla基金会</a></li>
				<li class="divider"></li>
				<li class="nav-header"><span>支持我们</span></li>
				<li><a href="https://www.joomla.org/contribute-to-joomla.html">贡献</a></li>
				<li><a href="https://www.joomla.org/sponsor.html">赞助商</a></li>
				<li><a href="https://www.joomla.org/about-joomla/partners.html">合作伙伴</a></li>
				<li><a href="https://shop.joomla.org">商店</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">下载 &amp; 扩展 <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://downloads.joomla.org">下载</a></li>
				<li><a href="https://extensions.joomla.org">扩展</a></li>
				<li><a href="https://community.joomla.org/translations.html">语言</a></li>
				<li><a href="https://launch.joomla.org">获得免费网站</a></li>
				<li><a href="https://domains.joomla.org">添加域名</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">发现 &amp; 学习 <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://docs.joomla.org">文档</a></li>
				<li><a href="https://community.joomla.org/joomla-training.html">培训</a></li>
				<li><a href="https://certification.joomla.org">认证</a></li>
				<li><a href="https://showcase.joomla.org">网站展示</a></li>
				<li><a href="https://www.joomla.org/announcements.html">公告</a></li>
				<li><a href="https://community.joomla.org/blogs.html">博客</a></li>
				<li><a href="https://magazine.joomla.org">杂志</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">社区 &amp; 支持 <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://community.joomla.org">社区门户</a></li>
				<li><a href="https://community.joomla.org/events.html">活动</a></li>
				<li><a href="https://community.joomla.org/user-groups.html">用户组</a></li>
				<li><a href="https://forum.joomla.org">论坛</a></li>
				<li><a href="https://community.joomla.org/service-providers-directory.html">Service Providers Directory</a></li>
				<li><a href="https://volunteers.joomla.org">志愿者门户</a></li>
				<li><a href="https://extensions.joomla.org/vulnerable-extensions/vulnerable/">易受攻击的扩展</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">开发者资源 <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://developer.joomla.org">开发者网络</a></li>
				<li><a href="https://developer.joomla.org/security.html">安全中心</a></li>
				<li><a href="https://issues.joomla.org">问题跟踪</a></li>
				<li><a href="https://github.com/joomla">GitHub</a></li>
				<li><a href="https://api.joomla.org">API 文档</a></li>
				<li><a href="https://framework.joomla.org"><span dir="ltr">Joomla!</span> 框架</a></li>
				<li><a href="http://joomlacode.org">JoomlaCode</a></li>
			</ul>
		</li>
	</ul>
	<div id="nav-search" class="navbar-search pull-right">
		<jdoc:include type="modules" name="position-0" style="none" />
	</div>
</div>
