<?xml version="1.0" encoding="UTF-8"?>
<config>

	<fieldset
			name="base"
			label="COM_VOLUNTEERS_BASE_CONFIG">

		<field
				name="show_osi"
				type="radio"
				class="btn-group btn-group-yesno"
				default="1"
				label="COM_VOLUNTEERS_BASE_CONFIG_SHOW_OSI">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
				name="show_nsi"
				type="radio"
				class="btn-group btn-group-yesno"
				default="1"
				label="COM_VOLUNTEERS_BASE_CONFIG_SHOW_NSI">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

	</fieldset>

	<fieldset
			name="department"
			label="COM_VOLUNTEERS_DEPARTMENT">

		<field name="department_pretext" type="editor"
			   size="150" label="COM_VOLUNTEERS_DEPARTMENT_PRETEXT"
			   description="COM_VOLUNTEERS_DEPARTMENT_PRETEXT_DESC"
			   buttons="false" rows="5" cols="80"/>

	</fieldset>

	<fieldset
			name="group"
			label="COM_VOLUNTEERS_GROUP">

		<field name="group_pretext" type="editor" class="inputbox form-control"  labelClass="control-label"
			   size="150" label="COM_VOLUNTEERS_GROUP_PRETEXT"
			   description="COM_VOLUNTEERS_GROUP_PRETEXT_DESC"
			   buttons="false" rows="5" cols="80"/>

	</fieldset>

	<fieldset
			name="volunteer"
			label="COM_VOLUNTEERS_VOLUNTEER">

		<field name="volunteer_pretext" type="editor" class="inputbox form-control"  labelClass="control-label"
			   size="150" label="COM_VOLUNTEERS_VOLUNTEER_PRETEXT"
			   description="COM_VOLUNTEERS_VOLUNTEER_PRETEXT_DESC"
			   buttons="false" rows="5" cols="80"/>

	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			component="com_volunteers"
			section="component" />
	</fieldset>
</config>