<div class="social">
	<ul class="soc">
		<li><a href="https://twitter.com/joomla" target="_blank" class="icon-twitter2" title="Joomla! on Twitter"><span class="element-invisible">Joomla! on Twitter</span></a></li>
		<li><a href="https://www.facebook.com/joomla" target="_blank" class="icon-facebook2" title="Joomla! on Facebook"><span class="element-invisible">Joomla! on Facebook</span></a></li>
		<li><a href="https://www.youtube.com/user/joomla" target="_blank" class="icon-youtube3" title="Joomla! on YouTube"><span class="element-invisible">Joomla! on YouTube</span></a></li>
		<li><a href="https://www.linkedin.com/company/joomla" target="_blank" class="icon-linkedin" title="Joomla! on LinkedIn"><span class="element-invisible">Joomla! on LinkedIn</span></a></li>
		<li><a href="https://www.pinterest.com/joomla" target="_blank" class="icon-pinterest2" title="Joomla! on Pinterest"><span class="element-invisible">Joomla! on Pinterest</span></a></li>
		<li><a href="https://www.instagram.com/joomlaofficial/" target="_blank" class="icon-instagram" title="Joomla! on Instagram"><span class="element-invisible">Joomla! on Instagram</span></a></li>
		<li><a href="https://github.com/joomla" target="_blank" class="icon-github3" title="Joomla! on GitHub"><span class="element-invisible">Joomla! on GitHub</span></a></li>
	</ul>
</div>

<div class="footer-menu">
	<ul class="nav-inline">
		<li><a href="https://www.joomla.org"><span>Начало</span></a></li>
		<li><a href="https://www.joomla.org/about-joomla.html"><span>About</span></a></li>
		<li><a href="https://community.joomla.org"><span>Community</span></a></li>
		<li><a href="https://forum.joomla.org"><span>Forum</span></a></li>
		<li><a href="https://extensions.joomla.org"><span>Extensions</span></a></li>
		<li><a href="https://resources.joomla.org"><span>Resources</span></a></li>
		<li><a href="https://docs.joomla.org"><span>Docs</span></a></li>
		<li><a href="https://developer.joomla.org"><span>Developer</span></a></li>
		<li><a href="https://community.joomla.org/the-joomla-shop.html"><span>Shop</span></a></li>
	</ul>

	<ul class="nav-inline">
		<li><a href="https://www.joomla.org/accessibility-statement.html">Accessibility Statement</a></li>
		<li><a href="https://www.joomla.org/privacy-policy.html">Privacy Policy</a></li>
		<li><a href="https://community.joomla.org/sponsorship-campaigns.html">Sponsor Joomla! with $5</a></li>
		<li><a href="https://crowdin.com/projects/Joomla">Help Translate</a></li>
		<li><a href="%reportroute%">Report an Issue</a></li>
		<li><a href="%loginroute%">%logintext%</a></li>
	</ul>

	<p class="copyright">&copy; 2005 - %currentyear% <a href="https://opensourcematters.org">Open Source Matters, Inc.</a> All Rights Reserved.</p>

	<div class="hosting">
		<div class="hosting-image"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><img class="rochen" src="https://cdn.joomla.org/rochen/rochen_footer_logo_white.png" alt="Rochen" /></a></div>
		<div class="hosting-text"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><span dir="ltr">Joomla!</span> Hosting by Rochen</a></div>
	</div>
</div>

<div id="adblock-msg" class="navbar navbar-fixed-bottom hide">
	<div class="navbar-inner">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		<i class="icon-warning"></i>
        We have detected that you are using an ad blocker. The Joomla! Project relies on revenue from these advertisements so please consider disabling the ad blocker for this domain.
	</div>
</div>
