<div class="social">
	<ul class="soc">
		<li><a href="https://twitter.com/joomla" target="_blank" class="icon-twitter2" title="টুইটার এ জুমলা!"><span class="element-invisible">টুইটার এ জুমলা!</span></a></li>
		<li><a href="https://www.facebook.com/joomla" target="_blank" class="icon-facebook2" title="ফেসবুক এ জুমলা!"><span class="element-invisible">ফেসবুক এ জুমলা!</span></a></li>
		<li><a href="https://www.youtube.com/user/joomla" target="_blank" class="icon-youtube3" title="ইউটিউব এ জুমলা!"><span class="element-invisible">জুমলা ! ইউটিউবে</span></a></li>
		<li><a href="https://www.linkedin.com/company/joomla" target="_blank" class="icon-linkedin" title="লিঙ্কড্‌ইনে জুমলা!"><span class="element-invisible">লিঙ্কড্‌ইনে জুমলা!</span></a></li>
		<li><a href="https://www.pinterest.com/joomla" target="_blank" class="icon-pinterest2" title="পিনটারেস্ট এ জুমলা!"><span class="element-invisible">পিনটারেস্ট এ জুমলা!</span></a></li>
		<li><a href="https://www.instagram.com/joomlaofficial/" target="_blank" class="icon-instagram" title="ইন্সটাগ্রাম এ জুমলা!"><span class="element-invisible">ইন্সটাগ্রাম এ জুমলা!</span></a></li>
		<li><a href="https://github.com/joomla" target="_blank" class="icon-github3" title="গিটহাব এ জুমলা!"><span class="element-invisible">গিটহাব এ জুমলা!</span></a></li>
	</ul>
</div>

<div class="footer-menu">
	<ul class="nav-inline">
		<li><a href="https://www.joomla.org"><span>হোম</span></a></li>
		<li><a href="https://www.joomla.org/about-joomla.html"><span>আমাদের সম্পর্কে জানুন</span></a></li>
		<li><a href="https://community.joomla.org"><span>সম্প্রদায়</span></a></li>
		<li><a href="https://forum.joomla.org"><span>ফোরাম</span></a></li>
		<li><a href="https://extensions.joomla.org"><span>এক্সটেনশন</span></a></li>
		<li><a href="https://community.joomla.org/service-providers-directory.html"><span>Services</span></a></li>
		<li><a href="https://docs.joomla.org"><span>নথি</span></a></li>
		<li><a href="https://developer.joomla.org"><span>ডেভেলপার</span></a></li>
		<li><a href="https://community.joomla.org/the-joomla-shop.html"><span>দোকান</span></a></li>
	</ul>

	<ul class="nav-inline">
		<li><a href="https://www.joomla.org/accessibility-statement.html">সুবোধ্যতার বিবৃতি</a></li>
		<li><a href="https://www.joomla.org/privacy-policy.html">গোপনীয়তার নীতি</a></li>
		<li><a href="https://www.joomla.org/cookie-policy.html">কুকি নীতি</a></li>
		<li><a href="https://community.joomla.org/sponsorship-campaigns.html">জুমলা স্পনসর! $ 5 দিয়ে</a></li>
		<li><a href="https://crowdin.com/projects/Joomla">অনুবাদ সাহায্য করুন</a></li>
		<li><a href="%reportroute%">একটি সমস্যা রিপোর্ট</a></li>
		<li><a href="%loginroute%">%লগইনপাঠ্য%</a></li>
	</ul>

	<p class="copyright">© ২০০৫ - %currentyear% <a href="https://opensourcematters.org">Open Source Matters, Inc.</a> সকল অধিকার সংরক্ষিত।</p>

	<div class="hosting">
		<div class="hosting-image"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><img class="rochen" src="https://cdn.joomla.org/rochen/rochen_footer_logo_white.png" alt="Rochen" /></a></div>
		<div class="hosting-text"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><span dir="ltr">জুমলা!</span> হোস্টিংয়ে সহায়তা করেছে Rochen</a></div>
	</div>
</div>

<div id="adblock-msg" class="navbar navbar-fixed-bottom hide">
	<div class="navbar-inner">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		<i class="icon-warning"></i>
        We have detected that you are using an ad blocker. The Joomla! Project relies on revenue from these advertisements so please consider disabling the ad blocker for this domain.
	</div>
</div>
