<div class="social">
	<ul class="soc">
		<li><a href="https://twitter.com/joomla" target="_blank" class="icon-twitter2" title="Joomla! a Twitter"><span class="element-invisible">Joomla! a Twitter</span></a></li>
		<li><a href="https://www.facebook.com/joomla" target="_blank" class="icon-facebook2" title="Joomla! a Facebook"><span class="element-invisible">Joomla! a Facebook</span></a></li>
		<li><a href="https://plus.google.com/+joomla/posts" target="_blank" class="icon-google-plus2" title="Joomla! a Google +"><span class="element-invisible">Joomla! a Google +</span></a></li>
		<li><a href="https://www.youtube.com/user/joomla" target="_blank" class="icon-youtube3" title="Joomla! a YouTube"><span class="element-invisible">Joomla! a YouTube</span></a></li>
		<li><a href="https://www.linkedin.com/company/joomla" target="_blank" class="icon-linkedin" title="Joomla! a LinkedIn"><span class="element-invisible">Joomla! a LinkedIn</span></a></li>
		<li><a href="https://www.pinterest.com/joomla" target="_blank" class="icon-pinterest2" title="Joomla! a Pinterest"><span class="element-invisible">Joomla! a Pinterest</span></a></li>
		<li><a href="https://www.instagram.com/joomlaofficial/" target="_blank" class="icon-instagram" title="Joomla! a Instagram"><span class="element-invisible">Joomla! a Instagram</span></a></li>
		<li><a href="https://github.com/joomla" target="_blank" class="icon-github3" title="Joomla! a GitHub"><span class="element-invisible">Joomla! a GitHub</span></a></li>
	</ul>
</div>

<div class="footer-menu">
	<ul class="nav-inline">
		<li><a href="https://www.joomla.org"><span>Inici</span></a></li>
		<li><a href="https://www.joomla.org/about-joomla.html"><span>Quant a</span></a></li>
		<li><a href="https://community.joomla.org"><span>Comunitat</span></a></li>
		<li><a href="https://forum.joomla.org"><span>Fòrum</span></a></li>
		<li><a href="https://extensions.joomla.org"><span>Extensions</span></a></li>
		<li><a href="https://resources.joomla.org"><span>Recursos</span></a></li>
		<li><a href="https://docs.joomla.org"><span>Documents</span></a></li>
		<li><a href="https://developer.joomla.org"><span>Desenvolupador</span></a></li>
		<li><a href="https://community.joomla.org/the-joomla-shop.html"><span>Botiga</span></a></li>
	</ul>

	<ul class="nav-inline">
		<li><a href="https://www.joomla.org/accessibility-statement.html">Declaració d'accesibilitat</a></li>
		<li><a href="https://www.joomla.org/privacy-policy.html">Política de privacitat</a></li>
		<li><a href="https://community.joomla.org/sponsorship-campaigns.html">Patrocina Joomla! amb $5</a></li>
		<li><a href="https://crowdin.com/projects/Joomla">Ajuda'ns a traduir</a></li>
		<li><a href="%reportroute%">Notifica un problema</a></li>
		<li><a href="%loginroute%">%logintext%</a></li>
	</ul>

	<p class="copyright">&copy; 2005 - %currentyear% <a href="https://opensourcematters.org">Open Source Matters, Inc.</a> Tots els drets reservats.</p>

	<div class="hosting">
		<div class="hosting-image"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><img class="rochen" src="https://cdn.joomla.org/rochen/rochen_footer_logo_white.png" alt="Rochen" /></a></div>
		<div class="hosting-text"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><span dir="ltr">Joomla!</span> Hosting by Rochen</a></div>
	</div>
</div>

<div id="adblock-msg" class="navbar navbar-fixed-bottom hide">
	<div class="navbar-inner">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		<i class="icon-warning"></i>
        Hem detectat que estàs utilitzant un bloquejador d'anuncis. Joomla! Projecte es basa en els ingressos d'aquests anuncis així que si us plau considera deshabilitar el bloquejador d'anuncis per a aquest domini.
	</div>
</div>
