<div class="social">
	<ul class="soc">
		<li><a href="https://twitter.com/joomla" target="_blank" class="icon-twitter2" title="Joomla! en Twitter"><span class="element-invisible">Joomla! en Twitter</span></a></li>
		<li><a href="https://www.facebook.com/joomla" target="_blank" class="icon-facebook2" title="Joomla! en Facebook"><span class="element-invisible">Joomla! en Facebook</span></a></li>
		<li><a href="https://plus.google.com/+joomla/posts" target="_blank" class="icon-google-plus2" title="Joomla! en Google+"><span class="element-invisible">Joomla! en Google+</span></a></li>
		<li><a href="https://www.youtube.com/user/joomla" target="_blank" class="icon-youtube3" title="Joomla! en YouTube"><span class="element-invisible">Joomla! en YouTube</span></a></li>
		<li><a href="https://www.linkedin.com/company/joomla" target="_blank" class="icon-linkedin" title="Joomla! en LinkedIn"><span class="element-invisible">Joomla! en LinkedIn</span></a></li>
		<li><a href="https://www.pinterest.com/joomla" target="_blank" class="icon-pinterest2" title="Joomla! en Pinterest"><span class="element-invisible">Joomla! en Pinterest</span></a></li>
		<li><a href="https://www.instagram.com/joomlaofficial/" target="_blank" class="icon-instagram" title="Joomla! en Instagram"><span class="element-invisible">Joomla! en Instagram</span></a></li>
		<li><a href="https://github.com/joomla" target="_blank" class="icon-github3" title="Joomla! en GitHub"><span class="element-invisible">Joomla! en GitHub</span></a></li>
	</ul>
</div>

<div class="footer-menu">
	<ul class="nav-inline">
		<li><a href="https://www.joomla.org"><span>Inicio</span></a></li>
		<li><a href="https://www.joomla.org/about-joomla.html"><span>Acerca de Joomla!</span></a></li>
		<li><a href="https://community.joomla.org"><span>Comunidad</span></a></li>
		<li><a href="https://forum.joomla.org"><span>Foro</span></a></li>
		<li><a href="https://extensions.joomla.org"><span>Extensiones</span></a></li>
		<li><a href="https://resources.joomla.org"><span>Recursos</span></a></li>
		<li><a href="https://docs.joomla.org"><span>Documentación</span></a></li>
		<li><a href="https://developer.joomla.org"><span>Desarrolladores</span></a></li>
		<li><a href="https://community.joomla.org/the-joomla-shop.html"><span>Tienda</span></a></li>
	</ul>

	<ul class="nav-inline">
		<li><a href="https://www.joomla.org/accessibility-statement.html">Declaración de accesibilidad</a></li>
		<li><a href="https://www.joomla.org/privacy-policy.html">Política de privacidad</a></li>
		<li><a href="https://community.joomla.org/sponsorship-campaigns.html">Apoya a Joomla! con $5</a></li>
		<li><a href="https://crowdin.com/projects/Joomla">Ayúdanos a traducir</a></li>
		<li><a href="%reportroute%">Reportar un error</a></li>
		<li><a href="%loginroute%">%logintext%</a></li>
	</ul>

	<p class="copyright">&copy; 2005 - %currentyear% <a href="https://opensourcematters.org">Open Source Matters, Inc.</a> Todos los derechos reservados.</p>

	<div class="hosting">
		<div class="hosting-image"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><img class="rochen" src="https://cdn.joomla.org/rochen/rochen_footer_logo_white.png" alt="Rochen" /></a></div>
		<div class="hosting-text"><a href="https://www.rochen.com/joomla-hosting" target="_blank">Rochen provee el hosting a <span dir="ltr">Joomla!</span></a></div>
	</div>
</div>

<div id="adblock-msg" class="navbar navbar-fixed-bottom hide">
	<div class="navbar-inner">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		<i class="icon-warning"></i>
        Detectamos que estás usando un bloqueador de publicidad, El proyecto Joomla! obtiene recursos monetarios de esta publicidad, por lo cual te sugerimos desactivar el bloqueador de anuncios en esta página.
	</div>
</div>
