<div class="social">
	<ul class="soc">
		<li><a href="https://twitter.com/joomla" target="_blank" class="icon-twitter2" title="Joomla! ar Twitter"><span class="element-invisible">Joomla! ar Twitter</span></a></li>
		<li><a href="https://www.facebook.com/joomla" target="_blank" class="icon-facebook2" title="Joomla! ar Facebook"><span class="element-invisible">Joomla! ar Facebook</span></a></li>
		<li><a href="https://plus.google.com/+joomla/posts" target="_blank" class="icon-google-plus2" title="Joomla! ar Google+"><span class="element-invisible">Joomla! ar Google+</span></a></li>
		<li><a href="https://www.youtube.com/user/joomla" target="_blank" class="icon-youtube3" title="Joomla! ar YouTube"><span class="element-invisible">Joomla! ar YouTube</span></a></li>
		<li><a href="https://www.linkedin.com/company/joomla" target="_blank" class="icon-linkedin" title="Joomla! ar LinkedIn"><span class="element-invisible">Joomla! ar LinkedIn</span></a></li>
		<li><a href="https://www.pinterest.com/joomla" target="_blank" class="icon-pinterest2" title="Joomla! ar Pinterest"><span class="element-invisible">Joomla! ar Pinterest</span></a></li>
		<li><a href="https://www.instagram.com/joomlaofficial/" target="_blank" class="icon-instagram" title="Joomla! ar Instagram"><span class="element-invisible">Joomla! ar Instagram</span></a></li>
		<li><a href="https://github.com/joomla" target="_blank" class="icon-github3" title="Joomla! ar GitHub"><span class="element-invisible">Joomla! ar GitHub</span></a></li>
	</ul>
</div>

<div class="footer-menu">
	<ul class="nav-inline">
		<li><a href="https://www.joomla.org"><span>Baile</span></a></li>
		<li><a href="https://www.joomla.org/about-joomla.html"><span>Maidir leis</span></a></li>
		<li><a href="https://community.joomla.org"><span>Pobal</span></a></li>
		<li><a href="https://forum.joomla.org"><span>Fóram</span></a></li>
		<li><a href="https://extensions.joomla.org"><span>Eisínteachtaí</span></a></li>
		<li><a href="https://resources.joomla.org"><span>Acmhainní</span></a></li>
		<li><a href="https://docs.joomla.org"><span>Doiciméadú</span></a></li>
		<li><a href="https://developer.joomla.org"><span>Forbróir</span></a></li>
		<li><a href="https://community.joomla.org/the-joomla-shop.html"><span>Siopa</span></a></li>
	</ul>

	<ul class="nav-inline">
		<li><a href="https://www.joomla.org/accessibility-statement.html">Ráiteas Inrochtaineachta</a></li>
		<li><a href="https://www.joomla.org/privacy-policy.html">Polasaí Príobháideachais</a></li>
		<li><a href="https://community.joomla.org/sponsorship-campaigns.html">Bronn $5 ar Joomla!</a></li>
		<li><a href="https://crowdin.com/projects/Joomla">Aistriúchán</a></li>
		<li><a href="%reportroute%">Tuairiscigh Fadhb</a></li>
		<li><a href="%loginroute%">%logintext%</a></li>
	</ul>

	<p class="copyright">&copy; 2005 - %currentyear% <a href="https://opensourcematters.org">Open Source Matters, Inc.</a> Gach Ceart Ar Cosaint.</p>

	<div class="hosting">
		<div class="hosting-image"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><img class="rochen" src="https://cdn.joomla.org/rochen/rochen_footer_logo_white.png" alt="Rochen" /></a></div>
		<div class="hosting-text"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><span dir="ltr">Joomla!</span> Óstáilte ag Rochen</a></div>
	</div>
</div>

<div id="adblock-msg" class="navbar navbar-fixed-bottom hide">
	<div class="navbar-inner">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		<i class="icon-warning"></i>
        Dealraíonn sé go bhfuil tú ag baint úsáide as bacaire fógraí. Tá Joomla! ag brath ar ioncam ó na fógraí seo; b'fhéidir go ndíchumasófá an bacaire fógraí ar an suíomh seo.
	</div>
</div>
