<div class="social">
	<ul class="soc">
		<li><a href="https://twitter.com/joomla" target="_blank" class="icon-twitter2" title="Joomla! Twitter पे"><span class="element-invisible">Joomla! Twitter पर</span></a></li>
		<li><a href="https://www.facebook.com/joomla" target="_blank" class="icon-facebook2" title="Joomla! Facebook पे"><span class="element-invisible">Joomla! Facebook पर</span></a></li>
		<li><a href="https://plus.google.com/+joomla/posts" target="_blank" class="icon-google-plus2" title="Joomla! Google+ पे"><span class="element-invisible">Joomla! Google+ पर</span></a></li>
		<li><a href="https://www.youtube.com/user/joomla" target="_blank" class="icon-youtube3" title="Joomla! YouTube पे"><span class="element-invisible">Joomla! YouTube पर</span></a></li>
		<li><a href="https://www.linkedin.com/company/joomla" target="_blank" class="icon-linkedin" title="Joomla! LinkedIn पे"><span class="element-invisible">Joomla! LinkedIn पर</span></a></li>
		<li><a href="https://www.pinterest.com/joomla" target="_blank" class="icon-pinterest2" title="Joomla! Pinterest पे"><span class="element-invisible">Joomla! Pinterest पर</span></a></li>
		<li><a href="https://www.instagram.com/joomlaofficial/" target="_blank" class="icon-instagram" title="Joomla! Instagram पे"><span class="element-invisible">Joomla! Instagram पर</span></a></li>
		<li><a href="https://github.com/joomla" target="_blank" class="icon-github3" title="Joomla! GitHub पे"><span class="element-invisible">Joomla! GitHub पर</span></a></li>
	</ul>
</div>

<div class="footer-menu">
	<ul class="nav-inline">
		<li><a href="https://www.joomla.org"><span>घर</span></a></li>
		<li><a href="https://www.joomla.org/about-joomla.html"><span>के बारे में</span></a></li>
		<li><a href="https://community.joomla.org"><span>समुदाय</span></a></li>
		<li><a href="https://forum.joomla.org"><span>मंच</span></a></li>
		<li><a href="https://extensions.joomla.org"><span>एक्सटेंशन</span></a></li>
		<li><a href="https://resources.joomla.org"><span>संसाधन</span></a></li>
		<li><a href="https://docs.joomla.org"><span>डॉक्स</span></a></li>
		<li><a href="https://developer.joomla.org"><span>डेवलपर</span></a></li>
		<li><a href="https://community.joomla.org/the-joomla-shop.html"><span>दुकान</span></a></li>
	</ul>

	<ul class="nav-inline">
		<li><a href="https://www.joomla.org/accessibility-statement.html">अभिगम्यता वक्तव्य</a></li>
		<li><a href="https://www.joomla.org/privacy-policy.html">गोपनीयता नीति</a></li>
		<li><a href="https://community.joomla.org/sponsorship-campaigns.html">5$ के साथ Joomla! को प्रयोजित करे</a></li>
		<li><a href="https://crowdin.com/projects/Joomla">अनुवाद में सहायता करें</a></li>
		<li><a href="%reportroute%">मामले की रिपोर्ट करें</a></li>
		<li><a href="%loginroute%">%logintext%</a></li>
	</ul>

	<p class="copyright">&copy; 2005 - %currentyear% <a href="https://opensourcematters.org">Open Source Matters, Inc.</a> All Rights Reserved.</p>

	<div class="hosting">
		<div class="hosting-image"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><img class="rochen" src="https://cdn.joomla.org/rochen/rochen_footer_logo_white.png" alt="Rochen" /></a></div>
		<div class="hosting-text"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><span dir="ltr"> Joomla! </span> Rochen द्वारा होस्टिंग</a></div>
	</div>
</div>

<div id="adblock-msg" class="navbar navbar-fixed-bottom hide">
	<div class="navbar-inner">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		<i class="icon-warning"></i>
हमने पाया है कि आप विज्ञापन अवरोधक का उपयोग कर रहे हैं। Joomla! परियोजना इन विज्ञापनों से राजस्व पर निर्भर है इसलिए कृपया इस डोमेन के लिए विज्ञापन अवरोधक को अक्षम करने पर विचार करें।
	</div>
</div>
