<div class="social">
	<ul class="soc">
		<li><a href="https://twitter.com/joomla" target="_blank" class="icon-twitter2" title="Joomla! a Twitter-en"><span class="element-invisible">Joomla! a Twitter-en</span></a></li>
		<li><a href="https://www.facebook.com/joomla" target="_blank" class="icon-facebook2" title="Joomla! a Facebook-on"><span class="element-invisible">Joomla! a Facebook-on</span></a></li>
		<li><a href="https://www.youtube.com/user/joomla" target="_blank" class="icon-youtube3" title="Joomla! a YouTube-on"><span class="element-invisible">Joomla! a YouTube-on</span></a></li>
		<li><a href="https://www.linkedin.com/company/joomla" target="_blank" class="icon-linkedin" title="Joomla! a LinkedIn-en"><span class="element-invisible">Joomla! a LinkedIn-en</span></a></li>
		<li><a href="https://www.pinterest.com/joomla" target="_blank" class="icon-pinterest2" title="Joomla! a Pinterest-en"><span class="element-invisible">Joomla! a Pinterest-en</span></a></li>
		<li><a href="https://www.instagram.com/joomlaofficial/" target="_blank" class="icon-instagram" title="Joomla! az Instagramon"><span class="element-invisible">Joomla! az Instagramon</span></a></li>
		<li><a href="https://github.com/joomla" target="_blank" class="icon-github3" title="Joomla! a GitHub-on"><span class="element-invisible">Joomla! a GitHub-on</span></a></li>
	</ul>
</div>

<div class="footer-menu">
	<ul class="nav-inline">
		<li><a href="https://www.joomla.org"><span>Főlap</span></a></li>
		<li><a href="https://www.joomla.org/about-joomla.html"><span>Rólunk</span></a></li>
		<li><a href="https://community.joomla.org"><span>Közösség</span></a></li>
		<li><a href="https://forum.joomla.org"><span>Fórum</span></a></li>
		<li><a href="https://extensions.joomla.org"><span>Bővítmények</span></a></li>
		<li><a href="https://resources.joomla.org"><span>Erőforrások</span></a></li>
		<li><a href="https://docs.joomla.org"><span>Dokumentumok</span></a></li>
		<li><a href="https://developer.joomla.org"><span>Fejlesztő</span></a></li>
		<li><a href="https://community.joomla.org/the-joomla-shop.html"><span>Bolt</span></a></li>
	</ul>

	<ul class="nav-inline">
		<li><a href="https://www.joomla.org/accessibility-statement.html">Hozzáférhetőségi nyilatkozat</a></li>
		<li><a href="https://www.joomla.org/privacy-policy.html">Adatvédelmi szabályzat</a></li>
		<li><a href="https://community.joomla.org/sponsorship-campaigns.html">Támogasd a Joomlát 5 dollárral</a></li>
		<li><a href="https://crowdin.com/projects/Joomla">Segíts lefordítani</a></li>
		<li><a href="%reportroute%">Hiba jelzése</a></li>
		<li><a href="%loginroute%">%logintext%</a></li>
	</ul>

	<p class="copyright">&copy; 2005 - %currentyear% <a href="https://opensourcematters.org">Open Source Matters, Inc.</a> Minden jog fenntartva.</p>

	<div class="hosting">
		<div class="hosting-image"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><img class="rochen" src="https://cdn.joomla.org/rochen/rochen_footer_logo_white.png" alt="Rochen" /></a></div>
		<div class="hosting-text"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><span dir="ltr">Joomla!</span> tárhely a Rochen-től</a></div>
	</div>
</div>

<div id="adblock-msg" class="navbar navbar-fixed-bottom hide">
	<div class="navbar-inner">
		<a class="close" data-dismiss="alert" href="#">&times;</a>   <i class="icon-warning"></i> Azt észleltük, hogy egy hirdetés blokkolót használ. A Joomla! Projekt ezekből a hirdetésekből származó jövedelemre is támaszkodik, így kérjük, fontolja meg, hogy letiltja a hirdetésblokkolót erre a domainra.
	</div>
</div>
