<div class="social">
	<ul class="soc">
		<li><a href="https://twitter.com/joomla" target="_blank" class="icon-twitter2" title="Joomla! di Twitter"><span class="element-invisible">Joomla! di Twitter</span></a></li>
		<li><a href="https://www.facebook.com/joomla" target="_blank" class="icon-facebook2" title="Joomla! di Facebook"><span class="element-invisible">Joomla! di Facebook</span></a></li>
		<li><a href="https://plus.google.com/+joomla/posts" target="_blank" class="icon-google-plus2" title="Joomla! di Google+"><span class="element-invisible">Joomla! di Google+</span></a></li>
		<li><a href="https://www.youtube.com/user/joomla" target="_blank" class="icon-youtube3" title="Joomla! di YouTube"><span class="element-invisible">Joomla! di YouTube</span></a></li>
		<li><a href="https://www.linkedin.com/company/joomla" target="_blank" class="icon-linkedin" title="Joomla! di LinkedIn"><span class="element-invisible">Joomla! di LinkedIn</span></a></li>
		<li><a href="https://www.pinterest.com/joomla" target="_blank" class="icon-pinterest2" title="Joomla! di Pinterest"><span class="element-invisible">Joomla! di Pinterest</span></a></li>
		<li><a href="https://www.instagram.com/joomlaofficial/" target="_blank" class="icon-instagram" title="Joomla! di Instagram"><span class="element-invisible">Joomla! di Instagram</span></a></li>
		<li><a href="https://github.com/joomla" target="_blank" class="icon-github3" title="Joomla! di GitHub"><span class="element-invisible">Joomla! di GitHub</span></a></li>
	</ul>
</div>

<div class="footer-menu">
	<ul class="nav-inline">
		<li><a href="https://www.joomla.org"><span>Beranda</span></a></li>
		<li><a href="https://www.joomla.org/about-joomla.html"><span>Tentang</span></a></li>
		<li><a href="https://community.joomla.org"><span>Komunitas</span></a></li>
		<li><a href="https://forum.joomla.org"><span>Forum</span></a></li>
		<li><a href="https://extensions.joomla.org"><span>Ekstensi</span></a></li>
		<li><a href="https://resources.joomla.org"><span>Referensi</span></a></li>
		<li><a href="https://docs.joomla.org"><span>Dok</span></a></li>
		<li><a href="https://developer.joomla.org"><span>Pengembang</span></a></li>
		<li><a href="https://community.joomla.org/the-joomla-shop.html"><span>Toko</span></a></li>
	</ul>

	<ul class="nav-inline">
		<li><a href="https://www.joomla.org/accessibility-statement.html">Pernyataan Aksesibilitas</a></li>
		<li><a href="https://www.joomla.org/privacy-policy.html">Ketentuan Kebijakan</a></li>
		<li><a href="https://community.joomla.org/sponsorship-campaigns.html">Dukung Joomla! dengan $5</a></li>
		<li><a href="https://crowdin.com/projects/Joomla">Bantu Terjemahan</a></li>
		<li><a href="%reportroute%">Laporkan sebuah isu</a></li>
		<li><a href="%loginroute%">%logintext%</a></li>
	</ul>

	<p class="copyright">&copy; 2005 - %currentyear% <a href="https://opensourcematters.org">Open Source Matters, Inc.</a> Semua Hak Cipta Dilindungi.</p>

	<div class="hosting">
		<div class="hosting-image"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><img class="rochen" src="https://cdn.joomla.org/rochen/rochen_footer_logo_white.png" alt="Rochen" /></a></div>
		<div class="hosting-text"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><span dir="ltr">Joomla!</span> Dihosting oleh Rochen</a></div>
	</div>
</div>

<div id="adblock-msg" class="navbar navbar-fixed-bottom hide">
	<div class="navbar-inner">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		<i class="icon-warning"></i>
        Kami mendeteksi bahwa anda menggunakan sebuah ad blocker (pemblokir iklan). Proyek Joomla! mengandalkan pendapatan dari iklan-iklan ini maka mohon pertimbangkan untuk menonaktifkan ad blocker (pemblokir iklan) untuk domain ini.
	</div>
</div>
