<div class="social">
	<ul class="soc">
		<li><a href="https://twitter.com/joomla" target="_blank" class="icon-twitter2" title="Joomla! su Twitter"><span class="element-invisible">Joomla! su Twitter</span></a></li>
		<li><a href="https://www.facebook.com/joomla" target="_blank" class="icon-facebook2" title="Joomla! su Facebook"><span class="element-invisible">Joomla! su Facebook</span></a></li>
		<li><a href="https://www.youtube.com/user/joomla" target="_blank" class="icon-youtube3" title="Joomla! su YouTube"><span class="element-invisible">Joomla! su YouTube</span></a></li>
		<li><a href="https://www.linkedin.com/company/joomla" target="_blank" class="icon-linkedin" title="Joomla! su LinkedIn"><span class="element-invisible">Joomla! su LinkedIn</span></a></li>
		<li><a href="https://www.pinterest.com/joomla" target="_blank" class="icon-pinterest2" title="Joomla! su Pinterest"><span class="element-invisible">Joomla! su Pinterest</span></a></li>
		<li><a href="https://www.instagram.com/joomlaofficial/" target="_blank" class="icon-instagram" title="Joomla! su Instagram"><span class="element-invisible">Joomla! su Instagram</span></a></li>
		<li><a href="https://github.com/joomla" target="_blank" class="icon-github3" title="Joomla! su GitHub"><span class="element-invisible">Joomla! su GitHub</span></a></li>
	</ul>
</div>

<div class="footer-menu">
	<ul class="nav-inline">
		<li><a href="https://www.joomla.org"><span>Home</span></a></li>
		<li><a href="https://www.joomla.org/about-joomla.html"><span>Informazioni</span></a></li>
		<li><a href="https://community.joomla.org"><span>Comunità</span></a></li>
		<li><a href="https://forum.joomla.org"><span>Forum</span></a></li>
		<li><a href="https://extensions.joomla.org"><span>Estensioni</span></a></li>
		<li><a href="https://community.joomla.org/service-providers-directory.html"><span>Servizi</span></a></li>
		<li><a href="https://docs.joomla.org"><span>Documentazione</span></a></li>
		<li><a href="https://developer.joomla.org"><span>Sviluppatore</span></a></li>
		<li><a href="https://community.joomla.org/the-joomla-shop.html"><span>Negozio</span></a></li>
	</ul>

	<ul class="nav-inline">
		<li><a href="https://www.joomla.org/accessibility-statement.html">Dichiarazione di accessibilità</a></li>
		<li><a href="https://www.joomla.org/privacy-policy.html">Informativa Privacy</a></li>
		<li><a href="https://www.joomla.org/cookie-policy.html">Informativa Cookie</a></li>
		<li><a href="https://community.joomla.org/sponsorship-campaigns.html">Sponsorizza Joomla! con $5</a></li>
		<li><a href="https://crowdin.com/projects/Joomla">Aiuta a Tradurre</a></li>
		<li><a href="%reportroute%">Segnala un problema</a></li>
		<li><a href="%loginroute%">%logintext%</a></li>
	</ul>

	<p class="copyright">&copy; 2005 - %currentyear% <a href="https://opensourcematters.org">Open Source Matters, Inc.</a> Tutti i diritti riservati.</p>

	<div class="hosting">
		<div class="hosting-image"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><img class="rochen" src="https://cdn.joomla.org/rochen/rochen_footer_logo_white.png" alt="Rochen" /></a></div>
		<div class="hosting-text"><a href="https://www.rochen.com/joomla-hosting" target="_blank">Hosting <span dir="ltr">Joomla!</span> da Rochen</a></div>
	</div>
</div>

<div id="adblock-msg" class="navbar navbar-fixed-bottom hide">
	<div class="navbar-inner">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		<i class="icon-warning"></i>
        Abbiamo rilevato che stai utilizzando un ad blocker. Il progetto Joomla! si basa su entrate da queste pubblicità, quindi ti preghiamo di considerare la possibilità di disabilitare il blocco della pubblicità per questo dominio.
	</div>
</div>
