<div class="social">
	<ul class="soc">
		<li><a href="https://twitter.com/joomla" target="_blank" class="icon-twitter2" title="Joomla! no Twitter"><span class="element-invisible">Joomla! no Twitter</span></a></li>
		<li><a href="https://www.facebook.com/joomla" target="_blank" class="icon-facebook2" title="Joomla! no Facebook"><span class="element-invisible">Joomla! no Facebook</span></a></li>
		<li><a href="https://plus.google.com/+joomla/posts" target="_blank" class="icon-google-plus2" title="Joomla! no Google+"><span class="element-invisible">Joomla! no Google+</span></a></li>
		<li><a href="https://www.youtube.com/user/joomla" target="_blank" class="icon-youtube3" title="Joomla! no YouTube"><span class="element-invisible">Joomla! no YouTube</span></a></li>
		<li><a href="https://www.linkedin.com/company/joomla" target="_blank" class="icon-linkedin" title="Joomla! no LinkedIn"><span class="element-invisible">Joomla! no LinkedIn</span></a></li>
		<li><a href="https://www.pinterest.com/joomla" target="_blank" class="icon-pinterest2" title="Joomla! no Pinterest"><span class="element-invisible">Joomla! no Pinterest</span></a></li>
		<li><a href="https://www.instagram.com/joomlaofficial/" target="_blank" class="icon-instagram" title="Joomla! no Instagram"><span class="element-invisible">Joomla! no Instagram</span></a></li>
		<li><a href="https://github.com/joomla" target="_blank" class="icon-github3" title="Joomla! no GitHub"><span class="element-invisible">Joomla! no GitHub</span></a></li>
	</ul>
</div>

<div class="footer-menu">
	<ul class="nav-inline">
		<li><a href="https://www.joomla.org"><span>Início</span></a></li>
		<li><a href="https://www.joomla.org/about-joomla.html"><span>Sobre</span></a></li>
		<li><a href="https://community.joomla.org"><span>Comunidade</span></a></li>
		<li><a href="https://forum.joomla.org"><span>Fórum</span></a></li>
		<li><a href="https://extensions.joomla.org"><span>Extensões</span></a></li>
		<li><a href="https://resources.joomla.org"><span>Recursos</span></a></li>
		<li><a href="https://docs.joomla.org"><span>Documentação</span></a></li>
		<li><a href="https://developer.joomla.org"><span>Desenvolvedores</span></a></li>
		<li><a href="https://community.joomla.org/the-joomla-shop.html"><span>Loja</span></a></li>
	</ul>

	<ul class="nav-inline">
		<li><a href="https://www.joomla.org/accessibility-statement.html">Declaração de acessibilidade</a></li>
		<li><a href="https://www.joomla.org/privacy-policy.html">Política de privacidade</a></li>
		<li><a href="https://community.joomla.org/sponsorship-campaigns.html">Apoie o Joomla! com US$5</a></li>
		<li><a href="https://crowdin.com/projects/Joomla">Ajude a traduzir</a></li>
		<li><a href="%reportroute%">Relatar um problema</a></li>
		<li><a href="%loginroute%">%logintext%</a></li>
	</ul>

	<p class="copyright">&copy; 2005 - %currentyear% <a href="https://opensourcematters.org">Open Source Matters, Inc.</a> Todos os Direitos Reservados.</p>

	<div class="hosting">
		<div class="hosting-image"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><img class="rochen" src="https://cdn.joomla.org/rochen/rochen_footer_logo_white.png" alt="Rochen" /></a></div>
		<div class="hosting-text"><a href="https://www.rochen.com/joomla-hosting" target="_blank">Alojamento do <span dir="ltr">Joomla!</span> por Rochen</a></div>
	</div>
</div>

<div id="adblock-msg" class="navbar navbar-fixed-bottom hide">
	<div class="navbar-inner">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		<i class="icon-warning"></i>
        Detectamos que você está usando um bloqueador de publicidade. O Projeto Joomla! depende da receita destes anúncios, então por favor, considere desativar o bloqueador de anúncios para este domínio.
	</div>
</div>
