<div class="social">
	<ul class="soc">
		<li><a href="https://twitter.com/joomla" target="_blank" class="icon-twitter2" title="Joomla! pe Twitter"><span class="element-invisible">Joomla! pe Twitter</span></a></li>
		<li><a href="https://www.facebook.com/joomla" target="_blank" class="icon-facebook2" title="Joomla! pe Facebook"><span class="element-invisible">Joomla! pe Facebook</span></a></li>
		<li><a href="https://www.youtube.com/user/joomla" target="_blank" class="icon-youtube3" title="Joomla! pe YouTube"><span class="element-invisible">Joomla! pe YouTube</span></a></li>
		<li><a href="https://www.linkedin.com/company/joomla" target="_blank" class="icon-linkedin" title="Joomla! pe LinkedIn"><span class="element-invisible">Joomla! pe LinkedIn</span></a></li>
		<li><a href="https://www.pinterest.com/joomla" target="_blank" class="icon-pinterest2" title="Joomla! pe Pinterest"><span class="element-invisible">Joomla! pe Pinterest</span></a></li>
		<li><a href="https://www.instagram.com/joomlaofficial/" target="_blank" class="icon-instagram" title="Joomla! pe Instagram"><span class="element-invisible">Joomla! pe Instagram</span></a></li>
		<li><a href="https://github.com/joomla" target="_blank" class="icon-github3" title="Joomla! pe GitHub"><span class="element-invisible">Joomla! pe GitHub</span></a></li>
	</ul>
</div>

<div class="footer-menu">
	<ul class="nav-inline">
		<li><a href="https://www.joomla.org"><span>Acasă</span></a></li>
		<li><a href="https://www.joomla.org/about-joomla.html"><span>Despre</span></a></li>
		<li><a href="https://community.joomla.org"><span>Comunitate</span></a></li>
		<li><a href="https://forum.joomla.org"><span>Forum</span></a></li>
		<li><a href="https://extensions.joomla.org"><span>Extensii</span></a></li>
		<li><a href="https://resources.joomla.org"><span>Resurse</span></a></li>
		<li><a href="https://docs.joomla.org"><span>Documente</span></a></li>
		<li><a href="https://developer.joomla.org"><span>Developeri</span></a></li>
		<li><a href="https://community.joomla.org/the-joomla-shop.html"><span>Magazin</span></a></li>
	</ul>

	<ul class="nav-inline">
		<li><a href="https://www.joomla.org/accessibility-statement.html">Declarație de Accesibilitate</a></li>
		<li><a href="https://www.joomla.org/privacy-policy.html">Politică de Confidențialitate</a></li>
		<li><a href="https://community.joomla.org/sponsorship-campaigns.html">Sponsorizează Joomla! cu 5 dolari</a></li>
		<li><a href="https://crowdin.com/projects/Joomla">Ajută în traducere</a></li>
		<li><a href="%reportroute%">Raportează o problemă</a></li>
		<li><a href="%loginroute%">%logintext%</a></li>
	</ul>

	<p class="copyright">&copy; 2005 - %currentyear% <a href="https://opensourcematters.org">Open Source Matters, Inc</a> Toate drepturile rezervate.</p>

	<div class="hosting">
		<div class="hosting-image"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><img class="rochen" src="https://cdn.joomla.org/rochen/rochen_footer_logo_white.png" alt="Rochen" /></a></div>
		<div class="hosting-text"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><span dir="ltr">Joomla!</span> Găzduire oferită de Rochen</a></div>
	</div>
</div>

<div id="adblock-msg" class="navbar navbar-fixed-bottom hide">
	<div class="navbar-inner">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
<i class="icon-warning"></i> 
Am detectat că utilizaţi un sistem de blocare a reclamelor. Proiectul Joomla!  se bazează pe veniturile rezultate din aceste reclame deci vă rugăm să dezactivati sistemul de blocare a reclamelor pentru acest domeniu.
	</div>
</div>
