<div class="social">
	<ul class="soc">
		<li><a href="https://twitter.com/joomla" target="_blank" class="icon-twitter2" title="Joomla! в Твиттере"><span class="element-invisible">Joomla! в Твиттере</span></a></li>
		<li><a href="https://www.facebook.com/joomla" target="_blank" class="icon-facebook2" title="Joomla! в Facebook"><span class="element-invisible">Joomla! в Facebook</span></a></li>
		<li><a href="https://plus.google.com/+joomla/posts" target="_blank" class="icon-google-plus2" title="Joomla! в Google +"><span class="element-invisible">Joomla! в Google +</span></a></li>
		<li><a href="https://www.youtube.com/user/joomla" target="_blank" class="icon-youtube3" title="Joomla! в YouTube"><span class="element-invisible">Joomla! в YouTube</span></a></li>
		<li><a href="https://www.linkedin.com/company/joomla" target="_blank" class="icon-linkedin" title="Joomla! в LinkedIn"><span class="element-invisible">Joomla! в LinkedIn</span></a></li>
		<li><a href="https://www.pinterest.com/joomla" target="_blank" class="icon-pinterest2" title="Joomla! в Pinterest"><span class="element-invisible">Joomla! в Pinterest</span></a></li>
		<li><a href="https://www.instagram.com/joomlaofficial/" target="_blank" class="icon-instagram" title="Joomla! в Instagram"><span class="element-invisible">Joomla! в Instagram</span></a></li>
		<li><a href="https://github.com/joomla" target="_blank" class="icon-github3" title="Joomla! на GitHub"><span class="element-invisible">Joomla! на GitHub</span></a></li>
	</ul>
</div>

<div class="footer-menu">
	<ul class="nav-inline">
		<li><a href="https://www.joomla.org"><span>Главная</span></a></li>
		<li><a href="https://www.joomla.org/about-joomla.html"><span>О проекте</span></a></li>
		<li><a href="https://community.joomla.org"><span>Сообщество</span></a></li>
		<li><a href="https://forum.joomla.org"><span>Форум</span></a></li>
		<li><a href="https://extensions.joomla.org"><span>Расширения</span></a></li>
		<li><a href="https://resources.joomla.org"><span>Ресурсы</span></a></li>
		<li><a href="https://docs.joomla.org"><span>Документация</span></a></li>
		<li><a href="https://developer.joomla.org"><span>Разработчикам</span></a></li>
		<li><a href="https://community.joomla.org/the-joomla-shop.html"><span>Магазин</span></a></li>
	</ul>

	<ul class="nav-inline">
		<li><a href="https://www.joomla.org/accessibility-statement.html">Заявление о доступности</a></li>
		<li><a href="https://www.joomla.org/privacy-policy.html">Политика конфидициальности</a></li>
		<li><a href="https://community.joomla.org/sponsorship-campaigns.html">Проспонсировать Joomla! на $5</a></li>
		<li><a href="https://crowdin.com/projects/Joomla">Помочь с переводом</a></li>
		<li><a href="%reportroute%">Сообщить об проблеме</a></li>
		<li><a href="%loginroute%">%logintext%</a></li>
	</ul>

	<p class="copyright">&copy; 2005 - %currentyear% <a href="https://opensourcematters.org">Open Source Matters, Inc.</a> Все права защищены.</p>

	<div class="hosting">
		<div class="hosting-image"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><img class="rochen" src="https://cdn.joomla.org/rochen/rochen_footer_logo_white.png" alt="Rochen" /></a></div>
		<div class="hosting-text"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><span dir="ltr">Joomla!</span> Хостинг Rochen</a></div>
	</div>
</div>

<div id="adblock-msg" class="navbar navbar-fixed-bottom hide">
	<div class="navbar-inner">
		<a class="close" data-dismiss="alert" href="#">&times;</a> <i class="icon-warning"></i> Мы обнаружили, что вы используете блокировщик рекламы. Joomla! Проект опирается на доходы от этих объявлений по этому попробуйте отключить блокиратор для этого домена.
	</div>
</div>
