<div class="social">
	<ul class="soc">
		<li><a href="https://twitter.com/joomla" target="_blank" class="icon-twitter2" title="Twitter 主页"><span class="element-invisible">Twitter 主页</span></a></li>
		<li><a href="https://www.facebook.com/joomla" target="_blank" class="icon-facebook2" title="Facebook 主页"><span class="element-invisible">Facebook 主页</span></a></li>
		<li><a href="https://www.youtube.com/user/joomla" target="_blank" class="icon-youtube3" title="YouTube 主页"><span class="element-invisible">YouTube 主页</span></a></li>
		<li><a href="https://www.linkedin.com/company/joomla" target="_blank" class="icon-linkedin" title="LinkedIn 主页"><span class="element-invisible">LinkedIn 主页</span></a></li>
		<li><a href="https://www.pinterest.com/joomla" target="_blank" class="icon-pinterest2" title="Pinterest 主页"><span class="element-invisible">Pinterest 主页</span></a></li>
		<li><a href="https://www.instagram.com/joomlaofficial/" target="_blank" class="icon-instagram" title="Instagram 主页"><span class="element-invisible">Instagram 主页</span></a></li>
		<li><a href="https://github.com/joomla" target="_blank" class="icon-github3" title="GitHub 主页"><span class="element-invisible">GitHub 主页</span></a></li>
	</ul>
</div>

<div class="footer-menu">
	<ul class="nav-inline">
		<li><a href="https://www.joomla.org"><span>首页</span></a></li>
		<li><a href="https://www.joomla.org/about-joomla.html"><span>关于</span></a></li>
		<li><a href="https://community.joomla.org"><span>社区</span></a></li>
		<li><a href="https://forum.joomla.org"><span>论坛</span></a></li>
		<li><a href="https://extensions.joomla.org"><span>扩展</span></a></li>
		<li><a href="https://community.joomla.org/service-providers-directory.html"><span>Services</span></a></li>
		<li><a href="https://docs.joomla.org"><span>文档</span></a></li>
		<li><a href="https://developer.joomla.org"><span>开发者</span></a></li>
		<li><a href="https://community.joomla.org/the-joomla-shop.html"><span>商店</span></a></li>
	</ul>

	<ul class="nav-inline">
		<li><a href="https://www.joomla.org/accessibility-statement.html">可访问性说明</a></li>
		<li><a href="https://www.joomla.org/privacy-policy.html">隐私政策</a></li>
		<li><a href="https://www.joomla.org/cookie-policy.html">Cookie Policy</a></li>
		<li><a href="https://community.joomla.org/sponsorship-campaigns.html">Sponsor Joomla! with $5</a></li>
		<li><a href="https://crowdin.com/projects/Joomla">Help Translate</a></li>
		<li><a href="%reportroute%">Report an Issue</a></li>
		<li><a href="%loginroute%">%logintext%</a></li>
	</ul>

	<p class="copyright">版权所有 &copy; 2005 - %currentyear% <a href="https://opensourcematters.org">Open Source Matters, Inc.</a> .</p>

	<div class="hosting">
		<div class="hosting-image"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><img class="rochen" src="https://cdn.joomla.org/rochen/rochen_footer_logo_white.png" alt="Rochen" /></a></div>
		<div class="hosting-text"><a href="https://www.rochen.com/joomla-hosting" target="_blank"><span dir="ltr">Joomla!</span> 由 Rochen 公司提供主机支持</a></div>
	</div>
</div>

<div id="adblock-msg" class="navbar navbar-fixed-bottom hide">
	<div class="navbar-inner">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		<i class="icon-warning"></i>
       我们检测到你正在是在使用广告拦截器  Joomla! The Joomla! 项目从这些广告获取收益，所以，请考虑从广告拦截器中去除拦截此域名.
	</div>
</div>
