<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
            name="component"
            label="COM_VOLUNTEERS_COMPONENT_LABEL"
            description="COM_VOLUNTEERS_COMPONENT_DESC"
    >
        <field
                name="yourlsapikey"
                type="text"
                label="COM_VOLUNTEERS_OPTIONS_YOURLSAPIKEY"
        />
    </fieldset>

    <fieldset
            name="permissions"
            description="JCONFIG_PERMISSIONS_DESC"
            label="JCONFIG_PERMISSIONS_LABEL"
    >

        <field
                name="rules"
                type="rules"
                component="com_volunteers"
                filter="rules"
                validate="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                section="component"
        />
    </fieldset>
</config>
