.table .volunteer-image img {
	width: 50px;
	height: 50px;
	padding-right: 10px;
}

.table .volunteer-image .volunteer-location {
	margin-top: 5px;
	display: block;
}

.members img {
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
}

.members a {
	margin: 1px;
	padding: 0;
	float: left;
}

.all-members {
	width: 50px;
	height: 50px;
	background: #1b63a2;
	color: #fff;
	padding: 2px;
	text-align: center;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.all-members:hover {
	background: #13294a;
	color: #fff;
	text-decoration: none;
}

.all-members .all {
	line-height: 25px;
	display: block;
}

.all-members .number {
	line-height: 18px;
	font-size: 25px;
	font-weight: bold;
}

.table.table-vertical-align td {
	vertical-align: middle !important;
}

.well h2 {
	margin-top: 0;
}

.address {
	display: none;
}

.volunteer-edit .controls .alert {
	margin-bottom: 0;
}

.btn-group.pull-right + .btn-group {
	margin-right: 5px;
}

.filter-bar {
	margin: 12px 0;
}

.filter-bar .btn-toolbar {
	margin: 0;
}

.media .pull-left {
	margin-right: 10px;
}

.media-list h3 {
	font-size: 14px;
	line-height: 16px;
}

.media-list li.media:hover {
	background: #f5f5f5;
}

.media-list li.media:hover a {
	text-decoration: none;
}

#map-canvas {
	height: 200px;
}

.report-title {
	margin-top: 0;
}

.report p,
.item-page {
	word-wrap: break-word;
}

.volunteer-certificated {
	margin-top: 15px;
}

@media (min-width: 480px) {
	#map-canvas {
		height: 300px;
	}
}

@media (min-width: 768px) {
	#map-canvas {
		height: 400px;
	}
}

@media (max-width: 767px) {
	thead {
		display: none;
	}

	tr td:first-child {
		border-top: 1px solid #333;
	}

	tbody td {
		display: block;
		text-align: center;
	}

	tbody td:before {
		content: attr(data-th) ':';
		font-weight: bold;
	}

	.table .volunteer-image img {
		float: right;
		padding-right: 0;
	}

	.joomlastory .media .pull-left,
	.latest-volunteers .media .pull-left {
		float: left;
		margin-bottom: 0;
	}

	.row-fluid .report .span2 {
		width: 15%;
		float: left;
	}

	.row-fluid .report .span10 {
		width: 85%;
		float: right;
		padding-left: 10px;
	}

	.volunteers .row-fluid .span3 {
		width: 50%;
		float: left;
	}

	.volunteers .row-fluid .span3 .well {
		margin: 5px;
	}

	.members {
		margin-top: 10px;
	}

	.well {
		margin-top: 10px;
	}

	.volunteers .span3:nth-child(3n) {
		clear: left
	}
}
